<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Title</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate enim
      eligendi assumenda saepe perferendis labore iure iusto corrupti veritatis
      nisi.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left container">
  <header class="block__header">
    <h2 class="block__heading">Title</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate enim
      eligendi assumenda saepe perferendis labore iure iusto corrupti veritatis
      nisi.
    </p>
  </header>
</section>
