<div class="collapsible collapsible--expanded">
  <div class="collapsible__header">
    <h2 class="collapsible__heading">Item_1</h2>
    <svg class="icon icon--acsent icon-container">
      <use xlink:href="images/sprite.svg#arrow-down-sign-to-navigate"></use>
    </svg>
  </div>
  <div class="collapsible__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit et earum
    quibusdam fuga labore ullam possimus nobis consectetur dicta voluptatem.
  </div>
</div>
<script src="/main.js"></script>
