<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting at 9$ per month</h2>
    <p class="text__domain">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In aut odio
      optio. Eum, omnis. Quidem a dignissimos consectetur perspiciatis possimus?
    </p>
  </header>
  <div class="input-group">
    <input class="input" type="text" placeholder="Enter domain name here ..." />
    <button class="btn btn--acsent">
      <svg class="icon icon--acsent">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li>.com 9.26$</li>
    <li>.sg 7.99$</li>
    <li>.space 12.98$</li>
    <li>.info 14.15$</li>
    <li><span class="badge badge--secondary">.net 16.15$</span></li>
    <li>.xyz 10.15$</li>
  </ul>
</section>
