<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">CLOUD HOSTING FOR PROS</h1>
      <p class="hero__tagline">Deploy your website in less than 60 seconds.</p>
      <a class="btn btn--acsent btn--stretched" href="#">Get Startrd</a>
    </header>
    <img class="hero__image" src="/Moshify/images/banner.png" alt="" />
  </div>
</section>
<script src="/main.js"></script>

<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">CLOUD HOSTING FOR PROS</h1>
      <p class="hero__tagline">Deploy your website in less than 60 seconds.</p>
      <a class="btn btn--acsent btn--stretched" href="#">Get Starterd</a>
    </header>
    <picture>
      <source
        type="image/webp"
        srcset="images/banner1x.webp 1x, images/banner@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/banner.png 1x, images/banner@2x.png 2x"
      />
      <img class="hero__image" src="/Moshify/images/banner.png" alt="" />
    </picture>
  </div>
</section>
